body {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin: 0;
}

div.product-card {
    box-shadow: 0 0 5px black;
    padding: 10px;
    width: 47%;
    margin: 10px auto;
    display: flex;
}

p.name {
    width: 50%;
    text-align: center;
}

p.quantity {
    width: 50%;
    text-align: center;
}