* {
  font-family: sans-serif;
}

body {
  background-color: #d1d1d1;
}

h1 {
  font-family: sans-serif;
  text-align: center;
  text-shadow: 0 0 3px red;
}

table {
  display: flex;
  width: 100%;
  box-shadow: 0 0 8px black;
}

tbody {
  width: 100%;
}

tr {
  width: 100%;
  display: flex;
  background-color: #6f6f6f;
  border: 1px solid red;
}

th {
  background-color: #212121;
  color: white;
  font-size: 25px;
  width: 30%;
}

td {
  width: 30%;
  background-color: #6f6f6f;
  color: white;
  text-align: center;
  align-self: center;
  padding: 5px;
  font-size: 16px;
}

input[type="button"]#new-product {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  color: white;
  font-size: 22px;
  border: 2px solid red;
  padding: 2px 15px;
}

input[type="button"]#cart {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  color: white;
  font-size: 22px;
  border: 2px solid red;
  padding: 2px 15px;
}

img.trash {
  cursor: pointer;
}

#last {
  font-weight: bold;
  text-shadow: 0 0 5px black;
}

#last td {
  color: #bf0; 
}